/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

/* Web CSS Style*/
@media screen and (min-width : 740px){
  .bg {
    left: 0;
    z-index: 998;
    position: fixed;
    height: 100%;
    width: 41%; 
    cursor: pointer;
    background-color: white;
  }
  .right_side {
    right: 0;
    position: absolute;
    width: 59%;
    z-index: 1001;
    background-color: white;
  }
  .article {
    width: 740px;
    left: 400px;
    top: 30em;
    position: absolute;
    z-index:-1;
  }
  .side_bar {
    display: block;
    position: fixed;
    left: 0;
    height: 100%;
    width: 10px;
    background-color: white;
    overflow: hidden;
  }
  #home {
    margin: 0 15%;
  }
  .index_head {
    font-size: 40px;
    position:absolute;
    top:45%;
    height:40px;
    margin-top:-12px;
    color: white;
    text-align: center;
    width: 100%;
  }
  .posts {
    text-align: left;
    list-style-type: none;
    margin:7em 0;
  }
  .posts li {
    padding: 15px 15px;
  }
  .auto_color {
    display: inline-block;
    float: left;
    opacity:0.5;
    width: 33%;
    height: 21%;
  }
  .time {
    margin: 20px 15px;
    color: white;
    font-size: 15px;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #d5d5d5;
    line-height: 80px;
    text-align: center;
    opacity: 0.5;
    display: none;
  }
  .site {
    font-size: 125%;
    width: 100%;
    height: 100%;
    line-height: 2em;
}
}

/* Mobile CSS Style*/
@media screen and (max-width : 740px){
  .bg {
    top: 0;
    z-index: 1002;
    position: fixed;
    width: 100%;
    height: 4em;
    cursor: pointer;
    background-color: rgba(199, 68, 51, 0.8);
  }
  .right_side {
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
    z-index: 1001;
    background-color: white;
  }
  .article {
    left: 3%;
    right: 3%;
    width: 94%;
    top:30em;
    position: absolute;
  }
  .side_bar {
    display: none;
  }
  #home {
    margin: 0 5%;
  }
  .index_head {
    font-size: 30px;
    position:absolute;
    top:45%;
    height:40px;
    margin-top:-12px;
    color: white;
    text-align: center;
    width: 100%;
  }
  .posts {
    text-align: center;
    list-style-type: none;
    margin:7em 0;
  }
  .posts li {
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 15px;
  }
  .auto_color {
    display: none;
  }
  .time {
    margin: 20px auto;
    color: white;
    font-size: 15px;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #d5d5d5;
    line-height: 80px;
    text-align: center;
    opacity: 0.5;
    display: none;
  }
  .site {
    font-size: 125%;
    width: 100%;
    height: 100%;
    line-height: 1.7em;
  }
}

@font-face {
  font-family: Roboto;
  src: url("Roboto-Regular.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Roboto-Bold;
  src: url("Roboto-Bold.ttf");
  font-weight: bold;
}

.auto_color:hover
{
  box-shadow: rgb(119, 119, 119) 0px 10px 5px;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .5px;
  font-size: small;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h3, h4, h5, h6 {
  font-size: 100%;
  color: #444; }

h2 {
  font-family: Roboto-Bold, Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 1em 0;
  color: #444;
  font-weight:bold;
}

h3 {
  font-family: Roboto-Bold, Helvetica, Arial, sans-serif;
  margin: 2em 0 0;
  color: #444;
  font-weight:bold;
}

h1 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 200%;
  font-weight:normal;
}

p { 
  margin: 2em 0;
  color: #333;
 }

p img{
  margin: 1em 0 2em;
  width: 100%;
  height: inherit;
}
a {
  color: #444;
  text-decoration: none;
}
a:hover  { 
  color: rgba(199, 68, 51, 0.8); 
  text-decoration:none;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts span {
  color: #aaa;
  font-size: 80%;
  display: block;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.top_bg {
  width: 100%;
  background-color: #f5f5f5;
  z-index: -1;
  top: 0px;
  height: 30em;
  overflow: hidden;
  position: absolute;
}
.top_bg img{
  width: 100%;
}
.head
{
  text-decoration: none;
  margin: 5em 0 1em 0;
  color:rgba(199, 68, 51, 1);
}

.title {
  display: inline-block;
  margin: 5em 15px 0;
}

.title a {
  color: rgba(199, 68, 51, 0.8);
  font-size: 20px;
  font-weight: normal;
  font-family: Roboto, Arial, sans-serif;
  text-decoration: none;
}

.title a:hover {
  color: #C74444;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: rgba(0,0,0,0.5);
  margin: 3em 0;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
  height: 100px;
  position: relative;
}

.footer .contact {
  float: left;
  margin-right: 0.5em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}
.fun_bar
{
  position: fixed;
  height: 100%;
  width: 150px;
}

.share_button
{
  position: absolute;
  right: 0;
  top: 1em;
}
.button_list
{
  float: right;
  margin: 0 5px;
}
.pagination
{
  width: 100%;
  height: 50px;
  margin:50px 0;
}
.pagination a
{
  color: gray;
  text-decoration:underline;
}
.category
{
  position: absolute;
  height: 100%;
  width: 150px;
}
.tag_container
{
  width: 100%;
  display: block;
}
.tag_color
{
  float: left;
  width: 40px;
  height: 100%;
  opacity: 0.5;
}
.gap
{
  float: left;
  height: 100%;
  padding-left: 12px;
}

.gap a{
  display: block;
  height: 100%;
}
.tag_content
{
  height: 100%;
  color: #444;
  line-height: 40px;
  width: 98px;
  cursor: pointer;
}
.contact_content
{
  float: left;
  height: 40px;
  color: #444;
  line-height: 40px;
  width: 98px;
  cursor: pointer;
}
.gap:hover
{
  background-color: #f5f5f5;
}
.tag_post_list
{
  position: fixed;
  background-color: white;
  left: 40px;
  width: 0;
  height: 100%;
  color: #444;
  z-index: 1003;
}
.tag_post_list ul
{
  display: none;
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}
.tag_post_list li
{
  list-style-type: none;
  padding: 8px 20px;
  border-bottom: 1px dashed #e5e5e5;
}
.wechat_img
{
  padding-top:10px;
  width: 100%;
  height: 150px;
  display: none;
}
.wechat_img img
{
  padding: 10px;
  height: 130px;
  width: 130px;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post pre {
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  padding: 0.4em;
  overflow-x: scroll; 
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
.post a
{
  color: #06c;
}
/*****************************************************************************/
/*
/* Resume
/*
/*****************************************************************************/
@font-face {
  font-family: MFYueYuan;
  src: url("MFYueYuan_Noncommercial-Regular.otf");
  font-weight: bold;
}


main {
    /* important */
    height: 100%;
    font-family: MFYueYuan, Helvetica, Arial, sans-serif;
}

main p {
  font-size: 200%;
  color: #c5c5c5;
  padding: 0 10px;
}

.cd-container {
  width: 50%;
}
.resume-title {
  position: absolute;
  top: 45%;
  font-size: 400%;
  color: white;
  text-align: center;
  font-weight: bold;
  width: 100%;

}
.cd-fixed-bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-color: rgba(199, 68, 51, 1);
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("http://andward-blog-picture.qiniudn.com/taxi.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("http://andward-blog-picture.qiniudn.com/girl.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("http://andward-blog-picture.qiniudn.com/dart_night.jpg");
}
 
.cd-scrolling-bg {
    min-height: 100%;
    position: relative;
}
.cd-color-1
{
  height: 690px;
  width: 100%;
}
.demo1
{
  position: absolute;
  left: 50%;
  top: 0px;
  height: 690px;
  width: 690px;
}
