/*****************************************************************************/
/*
/* Resume
/*
/*****************************************************************************/
@font-face {
  font-family: MFYueYuan;
  src: url("/css/MFYueYuan_Noncommercial-Regular.otf");
  font-weight: bold;
}


main {
    /* important */
    height: 100%;
    font-family: MFYueYuan, Helvetica, Arial, sans-serif;
}

main p {
  font-size: 200%;
  color: #c5c5c5;
  padding: 0 10px;
}

.cd-container {
  width: 50%;
}
.resume-title {
  position: absolute;
  top: 45%;
  font-size: 400%;
  color: white;
  text-align: center;
  font-weight: bold;
  width: 100%;

}
.cd-fixed-bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-color: rgba(199, 68, 51, 1);
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("http://andward-blog-picture.qiniudn.com/taxi.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("http://andward-blog-picture.qiniudn.com/girl.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("http://andward-blog-picture.qiniudn.com/dart_night.jpg");
}
 
.cd-scrolling-bg {
    min-height: 100%;
    position: relative;
}
.cd-color-1
{
  height: 690px;
  width: 100%;
}
.demo1
{
  position: absolute;
  left: 50%;
  top: 0px;
  height: 690px;
  width: 690px;
}